<template>
  <div>
    <div class="header">
      <div class="app-head">
        <div class="app-head-inner">
          <img src="../assets/logo.png" alt="">
          <div class="head-nav">
            <ul class="nav-list">
              <li>登录</li>
              <li class="nav-pile">|</li>
              <li>注册</li>
              <li class="nav-pile">|</li>
              <li>关于</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
    </div>
    <div class="footer">
      <p>© 2016 fishenal MIT</p>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'aLin',
      data(){
        return{

        }
      },
      components:{

      },
      methods:{

      },
      created(){

      }
  }
</script>
<style>
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 微软雅黑;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  .header{
    height: 50px;
    background-color: #000;
  }
  .app-head{
    height: 50px;
    width: 1200px;
    margin:0 auto;
  }
  .app-head-inner img{
    height: 50px;
    display: block;
    float: left;
  }
  .app-head-inner .head-nav{
    width: 120px;
    height: 50px;
    float: right;
    line-height: 50px;
  }
  .app-head-inner .head-nav ul li{
    float: left;
    color: white;
  }
  .content{
    height: auto;
  }
  .footer{
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    text-align: center;
    line-height: 50px;
  }
</style>
