<template>
  <div class="index-wrap">
    <!--左侧列表-->
    <div class="index-left">
      <div class="index-left-block ">
        <h2>全部产品</h2>
        <!--产品列表的循环-->
        <template v-for="product in productList">
          <h3>{{product.title}}</h3>
          <ul>
            <li v-for="item in product.list">
              <a :href="item.url">{{item.name}}</a>
              <span v-if="item.hot" class="hotMark">HOT</span>
            </li>
          </ul>
          <div v-show="!product.mark" class="hrl"></div>
        </template>

      </div>
      <div class="index-left-block lastest-news">
        <h2>最新消息</h2>
        <ul>
          <li v-for="item in newsList">
            <a :href="item.url">{{item.title}}</a>
          </li>
        </ul>
      </div>
    </div>
    <!--右侧内容-->
    <div class="index-right">
      <!--轮播图-->
      <slideshow :slides="slides"></slideshow>
      <!--列表的循环-->
      <div class="index-board-list">
        <div class="index-board-item" v-for="(item,index) in boardList"
             :class="[{'line-last': index % 2 !== 0}, 'index-board-'+item.id ]">
          <div class="index-board-item-inner">
            <h2>{{item.title}}</h2>
            <p>{{item.description}}</p>
            <div class="index-board-button">
              <!--<router-link>-->
                立即购买1
              <!--</router-link>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {getValue} from "../api/store"
  import slideshow from "../components/slideShow.vue"
  export default {
    name: 'IndexPage',
      data(){
        return{
          slides:[
            {
              src: require("../assets/slideShow/pic1.jpg"),
              title:"开放产品",
              href:"detail/analysis"
            },
            {
              src: require("../assets/slideShow/pic2.jpg"),
              title:"品牌营销",
              href:"detail/count"
            },
            {
              src:  require("../assets/slideShow/pic3.jpg"),
              title:"使命必达",
              href:"href://xxx.xxx.com"
            },
            {
              src:  require("../assets/slideShow/pic4.jpg"),
              title:"勇攀高峰",
              href:"detail/forecast"
            }
          ],
          boardList:[
            {
              title:"开放产品",
              description:"开放产品是一款开放产品",
              id:'earth',
              saleout:false
            },
            {
              title:"品牌营销",
              description:"品牌营销帮助产品找到更好地定位",
              id:'car',
              saleout:false
            },
            {
              title:"使命必达",
              description:"使命必达快速迭代永远保持最快的速度",
              id:'mountion',
              saleout:true
            },
            {
              title:"勇攀高峰",
              description:"勇攀高峰追求更高更快更强",
              id:'loud',
              saleout:false
            },
            {
              title:"想不出名",
              description:"先凑合着用",
              id:'time',
              saleout:false
            }
          ],
          newsList:[
            {
              title:'数据统计',
              url:'http://starcraft.com',
            },
            {
              title:'数据预测',
              url:'http://warcraft.com'
            },
            {
              title:'流量分析',
              url:'http://overwatch.com'
            },
            {
              title:'广告发布',
              url:'http://hearstone.com'
            }
          ],
          productList:{
             pc:{
               title:"PC产品",
               list:[
                 {
                   name:'数据统计',
                   url:'http://starcraft.com',
                   hot:true
                 },
                 {
                   name:'数据预测',
                   url:'http://warcraft.com'
                 },
                 {
                   name:'流量分析',
                   url:'http://overwatch.com'
                 },
                 {
                   name:'广告发布',
                   url:'http://hearstone.com'
                 }
               ]
             },
            app:{
               title:"手机应用类",
               mark:true,
              list:[
                {
                  name:'91助手',
                  url:'http://weixin.com'
                },
                {
                  name:'产品助手',
                  url:'http://twitter.com'
                },
                {
                  name:'智能地图',
                  url:'http://map.com'
                },
                {
                  name:'团队语音',
                  url:'http://phone.com'
                },
              ]
            }
          }
        }
      },
      components:{
       slideshow
      },
      methods:{

      },
      created(){
        this.$nextTick(()=>{
          getValue().then(data=>{
//            let datas =json.parse(data)
            console.log(data)
          })
        })
      }
  }
</script>
<style scoped>
a{
  text-decoration: none;
}
.index-wrap{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.index-left{
  float: left;
  width: 300px;
  text-align: left;
}
.index-right{
  float: left;
  width: 900px;
}
.index-left-block{
  margin:15px;
  background:#fff;
  box-shadow: 0 0 1px #ddd;
  margin-bottom: 20px;
}
.index-left-block h2{
  background: rgb(24,86,123);
  color: #fff;
  padding: 10px 15px;
  margin-bottom: 20px;
}
.index-left-block h3{
  padding:0 15px 5px 15px;
  font-weight: bold;
  color: #222;
}
.index-left-block ul{
  padding:10px 15px;
}
.index-left-block li{
  padding: 5px;
}
.index-left-block li a{
  color: #666;
}
.index-left-block li a:active{
  color: blueviolet;
}
.hotMark{
  background: red;
  color: white;
  font-size: 10px;
}
.hrl{
  height: 1px;
  width: 100%;
  background: #999;
  margin-bottom: 20px;
}
.index-board-list{
  overflow: hidden;
}
.index-board-item{
  float: left;
  width: 399px;
  background: #fff;
  box-shadow: 0 0 1px #ddd;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.index-board-item-inner{
  min-height:125px;
  padding-left: 120px;
}
.index-board-earth .index-board-item-inner{
  background: url("../assets/1.png") no-repeat;
}
.index-board-car .index-board-item-inner{
  background: url("../assets/2.png") no-repeat;
}
.index-board-loud .index-board-item-inner{
  background: url("../assets/4.png") no-repeat;
}
.index-board-mountion .index-board-item-inner{
  background: url("../assets/3.png") no-repeat;
}
.index-board-time .index-board-item-inner{
  background: url("../assets/5.jpg") no-repeat;
}
.index-board-item h2{
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}
.line-last{
  margin-right: 0;
}
.index-board-button{
  color: white;
  margin-top:20px;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: rgb(39,181,251);
}
.lastest-news{
  min-height: 512px;
}
</style>
