<template>
  <div class="slide-show" @mouseover="clearInv" @mouseout="runInv">
     <div class="slide-img">
       <a href="slides[nowIndex].href">
         <img :src="slides[nowIndex].src" alt="">
         <transition name="slide-trans">
           <img v-if="isShow" :src="slides[nowIndex].src" alt="">
         </transition>
         <transition name="slide-trans-old">
           <img v-if="!isShow" :src="slides[nowIndex].src" alt="">
         </transition>
       </a>
     </div>
    <h2 class="ht">{{slides[nowIndex].title}}</h2>
    <ul class="slide-pages">
      <li @click="goto(prevIndex)">&lt;</li>
      <li v-for="(item,index) in slides" @click="goto(index)">
        <a :class="{on:index === nowIndex}">{{index+1}}</a>
      </li>
      <li @click="goto(nextIndex)">&gt;</li>
    </ul>
  </div>
</template>

<script>

  export default {
    name:"slideshow",
    props:{
      slides:{
        type:Array,
        defalt:[]
      },
      inv:{
        type:Number,
        default:2000
      }
    },
    data(){
      return{
        nowIndex:0,
        isShow:true
      }
    },
    components:{

    },
    methods:{
      goto(index){
        this.isShow = false
        setTimeout(()=>{
          this.isShow  = true
          this.nowIndex = index
        },10)

      },
      runInv(){
        this.invId = setInterval(()=>{
          this.goto(this.nextIndex)
//          console.log("123")
        },this.inv)
      },
      clearInv(){
        clearInterval(this.invId)
      }
    },
    computed:{
      prevIndex(){
        if(this.nowIndex === 0){
          return this.slides.length - 1
        }else{
          return this.nowIndex - 1
        }
      },
      nextIndex(){
        if(this.nowIndex === this.slides.length-1){
          return 0
        }else{
          return this.nowIndex + 1
        }
      }
    },
    mounted(){
//      console.log(this.slides)
      this.runInv()
    }
  }
</script>

<style scoped>
  .slide-trans-enter-active{
    transition: all .5s;
  }
  .slide-trans-enter{
    transform: translateX(900px);
  }
  .slide-trans-old-leave-active{
    transition: all 0.5s;
    transform: translateX(-900px);
  }
  .slide-show{
    position: relative;
    margin:15px 15px 15px 0;
    width: 900px;
    height: 350px;
    overflow: hidden;
  }
  .slide-show h2{
    position: absolute;
    width: 100%;
    color: #fff;
    background: #000;
    opacity: .5;
    bottom: 0;
    height: 30px;
    text-align: left;
    padding-left: 15px;
    line-height: 30px;
    /*display: none;*/
  }
  .slide-img{
    width: 100px;
  }
  .slide-img img{
    width: 900px;
    position: absolute;
    top: 0;
  }
  .slide-pages{
    position: absolute;
    bottom: 8px;
    right: 15px;
  }
  .slide-pages li{
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    color: #fff;
  }
  .slide-pages li a{
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 9px;

  }
  .slide-pages li .on{
    background-color: darkorange;
  }
</style>
